<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IFTMBC Generator</title>

		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		 <!--script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.2/angular-animate.js" data-semver="1.4.3"></script-->
        <script src="ang-select/js/customSelect.js"></script>
		<script type="text/javascript" src="lodash/lodash.min.js"></script>
		<script type='text/javascript' src="Template.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="bootstrap/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
		<script src="ang-select/js/customSelect.js"></script>
		 <link href="bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
		 <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/select2/3.4.1/select2.css">
		 <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		 <link rel="stylesheet" href="ang-select/css/style.css" />
		 <link href="interface1.css" rel="stylesheet" type="text/css">
		 <link rel="stylesheet/less" type="text/css" href="respinterface.less" />
		 <script type='text/javascript' src="angscript.js">	</script>


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="mainApp" ng-init="init();" ng-cloak>>

<div ng-controller="MainController as bcmsg" id="myCtrl">
 <nav id="myNavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                <li><a href="#Booking_List" ng-click="showandhide(2)">Booking_List</a></li>
                <li><a href="#Msg-info">Msg-info</a></li>
          			<li><a href="#Transhipments">Transhipments</a></li>
                <li><a href="#TransportUnits">TransportUnits</a></li>
                </ul>
            </div>
        </div>
    </nav>



   <div id="Msg-info" class="container-fluid">


<div ng-hide="BClist">

    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">
		<div class="row">
				<div class="col-xs-6 col-md-6">
           <img src="LOGO.png" alt="Responsive image" width="321" height="50" class="img-responsive img-rounded"></div><div class="col-md-6 col-xs-6"> {{appName}} v{{version}}</div>
        </a>
    </nav>
<br> <br> 
    <div class="container-fluid app-data-container">
        <div class="row ">
            <div class="col-sm-12">
                <div>
                    <input type="checkbox" value="0" id="display-app-data-cb" ng-show="false" ng-model="displayAppData">
                    <label for="display-app-data-cb" style="font-weight:400; cursor: pointer"><i class="glyphicon gly-ani " ng-class="displayAppData ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right' "></i> App Data</label>
                </div>
                <textarea ng-model="appData1" class="d-block form-control" ng-show="displayAppData" ng-model-options="{ allowInvalid: true, debounce: 500 }" style="font-size:10px; min-width: 100%; min-height:80px; margin-bottom: 10px;"></textarea>
            </div>
        </div>
    </div>
    <div class="container-fluid app-data-container">
        <div class="row ">
            <div class="col-sm-12">
                <div class="d-block form-inline">
                    <div class="form-group">
                        <input type="file" ng-file-select="appData1" accept="application/json" ng-show="false" id="app-data-fs1">
                        <button class="btn btn-success" ng-click="loadAppData()">Load App Data</button>
                        <button class="btn btn-error" ng-click="SwitchToAddBooking()">Add new Booking</button>
                        <button class="btn btn-warning" ng-click="saveAppData()" ng-if="appData.bookings.length > 0">Save App Data</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <div class="container-fluid app-data-container">
        <div class="row ">
            <div class="col-xs-12 col-md-12">
                <div ng-if="appData.bookings.length == 0">
                    <span>Add new Booking or Load bookings from file...</span>
                </div>
                <div ng-if="appData.bookings.length > 0">
                    <div ng-repeat="booking in appData.bookings track by $index" class="d-block form-inline">
                        <span>{{booking.name}} </span> [<a href="#" ng-click="editBooking($index)">Edit</a>] [<a href="#" ng-click="deleteBooking($index)">Delete</a>] [<a href="#" ng-click="ExportEDI()">Export</a>]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="newIFTMBC">
<form id="bookingconf" name="myform"  ng-submit="myform.$valid" novalidate autocomplete="off">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-3 col-md-3"><img src="LOGO.png" alt="Responsive image" width="321" height="86" class="img-responsive img-rounded">
				</div>

				<div class="col-xs-9 col-md-4">
					<div class="row">
						<div class="col-xs-9 col-md-12">


  						<div class="form-group1">
								  <label>SENDER</label>
							</div>

					 
<div custom-select="snd.sendercode as snd.sendername for snd in appData.settings.senders | filter: $searchTerm" ng-model="bcmsg.bc.sender" class="sform" autofocus name="sender" required></div>
           
           <div ng-if="myform.$submitted || myform.sender.$touched">
 	 <div style="color:red" ng-show="myform.sender.$error.required">Sender is mandatory</div>
						</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-9 col-md-12">
							<div class="form-group1">
							  <label>RECIPIENT</label>
							</div>

 <div custom-select="snd.sendercode as snd.sendername for snd in appData.settings.recipients | filter: $searchTerm" ng-model="bcmsg.bc.recipient" custom-select-options="growableCarriers" class="sform" autofocus name="recipient" required></div>


           <div ng-if="myform.$submitted || myform.recipient.$touched">

   <div style="color:red" ng-show="myform.recipient.$error.required">recipient is mandatory</div>
            </div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-5">
  					<div class="row">
  					<div id="mt">
						<div class="col-xs-5 col-md-5">
							 <div id="BNL">
								 BOOKING NUMBER
								 </div>
							 </div>

						 <div class="col-xs-7 col-md-7">
						<div class="BF">
							<input type="text" ng-model="bcmsg.bc.parentbookingnbr" placeholder="Parent BOOKING NUMBER" name="parentBN" required />
					 <div ng-if="myform.$submitted">
 	 <div style="color:red" ng-show="myform.parentBN.$error.required">BOOKING number is mandatory</div>
						</div>
              <div ng-hide="hideparentbookingnbr">
              <input type="text" ng-model="bcmsg.bc.childbookingnbr" placeholder="Child BOOKING NUMBER" ng-required="childBNrequired"  name="childBN" />
               <div ng-if="myform.$submitted">
   <div style="color:red" ng-show="myform.childBN.$error.required">BOOKING number is mandatory</div>
            </div>
              </div>
    </div>
							 </div>
						</div>
						</div>


<div class="row">
            <div class="col-xs-12 col-md-12 text-center">

<div class="alert alert-info">
            <div class="form-inline">
                <label class="radio">
                    <input ng-value="6" type="radio" name="msgctl" id="confrd" ng-model="bcmsg.bc.category" ng-click="parentbookingnbr()" checked>Initial Confirmation or update
                </label>
                <label class="radio">
                    <input ng-value="1"  type="radio"  name="msgctl" id="cancelrd" ng-model="bcmsg.bc.category" ng-click="parentbookingnbr()" >Cancellation
                </label>
                <label class="radio">
                    <input ng-value="17" type="radio" name="msgctl" id="splitcancelrd" ng-model="bcmsg.bc.category" ng-click="parentbookingnbr()" >Split-Cancellation
                </label>
                <label class="radio">
                    <input ng-value="54" type="radio" name="msgctl" id="SplitSubrd" ng-model="bcmsg.bc.category" ng-change="parentbookingnbr()" >Split-Subset
                </label>
            </div>
        </div>

            </div>
          </div>

			  </div>
			</div>
		</div>


   <br />

    <div class="form-group2">
      <label>PARTIES</label>
  	  <hr />
    </div>


    <div class="BF">
    	<div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>BOOKING AGENT</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						   <div custom-select="f.Bookingpartners for f in appData.settings.cli | filter: $searchTerm" ng-model="bcmsg.bc.bookingagent" class="sform" autofocus></div>

   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>CARRIER</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						 <div class="bs-docs-example">
                    <div custom-select="carr.carriername for carr in appData.settings.carriers | filter: $searchTerm" ng-model="bcmsg.bc.carrier" class="sform" autofocus></div>

            </div>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>SHIPPER</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
               <div custom-select="shipper.Bookingpartners for shipper in appData.settings.cli  | filter: $searchTerm" ng-model="bcmsg.bc.shipper" class="sform" autofocus></div>

   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    				<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>CONSIGNEE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
            <div custom-select="consignee.Bookingpartners for consignee in appData.settings.cli  | filter: $searchTerm" ng-model="bcmsg.bc.consignee" class="sform" autofocus></div>

   		   			</div>
				</div>
			</div>
    	</div>

	<br /><br />

        <div class="form-group2">
     	 <label>SCHEDULE</label>
    		<hr />
     </div>

     <div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
    					  <label>PLACE OF ORIGIN (POO)</label>
    					</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">

            <div custom-select="country.Nom +' (' + country.Code.substring(0, 2) + ')' for country in appData.settings.countries | filter: $searchTerm" ng-model="bcmsg.bc.POO"  class="sform" autofocus></div>

   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
						  <label>PORT OF LOADING (POL)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">

					 <div custom-select="port.Pname +' (' + port.Pcode.substring(0, 2) + ')' for port in appData.settings.portNC | filter: $searchTerm" ng-model="bcmsg.bc.POL" name="pl" required class="sform" autofocus></div>
  		   			<div ng-if="myform.$submitted || myform.pl.$touched">
						<div style="color:red" ng-show="myform.pl.$error.required">POL is mandatory</div>
						</div>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
						  <label>PORT OF DISCHARGE (POD)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">

       <div custom-select="port.Pname +' (' + port.Pcode.substring(0, 2) + ')' for port in appData.settings.portNC | filter: $searchTerm" ng-model="bcmsg.bc.POD" name="pod" required class="sform" autofocus></div>
            <div ng-if="myform.$submitted || myform.pod.$touched">
 	 			      	<div style="color:red" ng-show="myform.pod.$error.required">POD is mandatory</div>
						</div>

   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
						  <label>FINAL PLACE OF DELIVERY (FPD)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
					     <div custom-select="country.Nom +' (' + country.Code.substring(0, 2) + ')' for country in appData.settings.countries | filter: $searchTerm" ng-model="bcmsg.bc.FPD"  class="sform" autofocus></div>

   		   			</div>
				</div>
			</div>
    	</div>


       <div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>DELIVERY DATE-EMPTY</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						 <div class="input-group date form_datetime">
               <input  ng-model='bcmsg.bc.POO_DDE' class="form-control form-group-date" size="16" type="text" value="" id="POO_DDE" ng-readonly="true" >
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>






   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>CUT-OFF DATE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<div class="input-group date form_datetime dtp" >
							<input  ng-model='bcmsg.bc.POL_COD' class="form-control form-group-date" size="16" type="text" value="" id="POL_COD" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>ETA</label>

						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">

   						 <div class="input-group date form_datetime dtp" >
							<input ng-model='bcmsg.bc.POD_ETA' class="form-control form-group-date" size="16" type="text" value="" id="POD_ETA"  readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>

						</div>
				</div>
			</div>
</div>
   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>DELIVERY DATE-FULL</label>

    				</div>
				</div>
        </div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<div class="input-group date form_datetime " >
							<input ng-model='bcmsg.bc.FPD_DDF' class="form-control form-group-date" size="16" type="text" value="" id="FPD_DDF" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              	 		 </div>

   		   			</div>
				</div>

</div>
</div>

       <div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>PICK-UP DATE-FULL</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						 <div class="input-group date form_datetime" >
							<input ng-model='bcmsg.bc.POO_PUDF' class="form-control form-group-date" size="16" type="text" value="" id="POO_PUDF" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>

   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>ETD</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   				  <div class="col-xs-12 col-md-12">
   					<div class="input-group date form_datetime dtp" >
						<input ng-model='bcmsg.bc.POL_ETD' class="form-control form-group-date" size="16" type="text" value="" id="POL_ETD" name="poletd" ng-required="true" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                	 </div>
                   <div ng-if="myform.$submitted">
                 <div style="color:red" ng-show="myform.poletd.$error.required">POL ETD is mandatory</div>
                   </div>
   		   			</div>
				</div>
		   </div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>ETD</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   				  <div class="col-xs-12 col-md-12">
   					<div class="input-group date form_datetime dtp">
						<input ng-model='bcmsg.bc.POD_ETD' class="form-control form-group-date" size="16" type="text" value="" id="POD_ETD" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
   		   			</div>
				</div>
		   </div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>PICK-UP DATE-EMPTY</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<div class="input-group date form_datetime" >
							<input ng-model='bcmsg.bc.FPD_PUDE' class="form-control form-group-date" size="16" type="text" value="" id="FPD_PUDE" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
             	 	  </div>

   		   			</div>
				</div>
			</div>
    	</div>

		<div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>VEHICLE NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="VEHICLE NAME" ng-model="bcmsg.bc.poo_vehiclname" />

   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="VESSEL NAME" ng-model="bcmsg.bc.pol_vesselname"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">

			</div>

   		    <div class="col-xs-12 col-md-3">
    				<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VEHICLE NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="VEHICLE NAME" ng-model="bcmsg.bc.fpd_vehiclname"/>
   		   			</div>
				</div>
			</div>
    	</div>

	<div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>VEHICLE ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="VEHICLE ID" ng-model="bcmsg.bc.poo_vehicleid"/>
   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="VESSEL ID" ng-model="bcmsg.bc.pol_vesselid"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">

			</div>

   		    <div class="col-xs-12 col-md-3">
    				<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VEHICLE ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="VEHICLE ID" ng-model="bcmsg.bc.fpd_vehicleid"/>
   		   			</div>
				</div>
			</div>
    	</div>

	<div class="row">
    		<div class="col-xs-12 col-md-3">

			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>FIRST VOYAGE REFERENCE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="FIRST VOYAGE REFERENCE" ng-model="bcmsg.bc.pol_firstvoyagereference"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">

			</div>

   		    <div class="col-xs-12 col-md-3">

			</div>
    	</div>




    <div id="Transhipments" class="container-fluid">

  		 <div class="BF">
 		 <div class="form-group2">
      <label>TRANSHIPMENT(S)</label>
   	   <hr />
       </div>

  		 <div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>PORT OF TRANSHIPMENT #1 (PTS1)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
              <div custom-select="port.Pname +' (' + port.Pcode.substring(0, 2) + ')' for port in appData.settings.portNC | filter: $searchTerm" name="pol" required class="sform" autofocus ng-model="bcmsg.bc.PTS1"></div>

   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
			  				<label>PORT OF TRANSHIPMENT #2 (PTS2)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   					 <div custom-select="port.Pname +' (' + port.Pcode.substring(0, 2) + ')' for port in appData.settings.portNC | filter: $searchTerm" name="pol" required class="sform" autofocus ng-model="bcmsg.bc.PTS2"></div>


   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
			  				<label>PORT OF TRANSHIPMENT #3 (PTS3)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   			 <div custom-select="port.Pname +' (' + port.Pcode.substring(0, 2) + ')' for port in appData.settings.portNC | filter: $searchTerm" name="pol" required class="sform" autofocus ng-model="bcmsg.bc.PTS3"></div>


   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
			  				<label>PORT OF TRANSHIPMENT #4 (PTS4)</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   					 <div custom-select="port.Pname +' (' + port.Pcode.substring(0, 2) + ')' for port in appData.settings.portNC | filter: $searchTerm" name="pol" required class="sform" autofocus ng-model="bcmsg.bc.PTS4"></div>

   		   			</div>
				</div>
			</div>
    	</div>


       <div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
							<label>ETD</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   				  <div class="col-xs-12 col-md-12">
   					<div class="input-group date form_datetime " >
						<input ng-model="bcmsg.bc.PTS1_ETD" class="form-control form-group-date" size="16" type="text" value="" id="PTS_I_ETD" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>

   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						   	<div class="form-group1">
							<label>ETD</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   				  <div class="col-xs-12 col-md-12">
   					<div class="input-group date form_datetime " >
						<input ng-model="bcmsg.bc.PTS2_ETD" class="form-control form-group-date" size="16" type="text" value="" id="PTS_II_ETD" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>

   		   			</div>
				</div>
   		   			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
					<div class="form-group1">
							<label>ETD</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   				  <div class="col-xs-12 col-md-12">
   					<div class="input-group date form_datetime " >
						<input ng-model="bcmsg.bc.PTS3_ETD" class="form-control form-group-date" size="16" type="text" value="" id="PTS_III_ETD" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>

				</div>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>ETD</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   				  <div class="col-xs-12 col-md-12">
   					<div class="input-group date form_datetime " data-date="" >
						<input  ng-model="bcmsg.bc.PTS4_ETD" class="form-control form-group-date" size="16" type="text" value="" id="PTS_IV_ETD" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>


   		   			</div>
				</div>
				</div>
			</div>
	</div>

	 <div class="row">
    	<div class="col-xs-12 col-md-3">
     			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VOYAGE REFERENCE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS1 VOYAGE REFERENCE" ng-model="bcmsg.bc.PTS1_voyagereference"/>
   		   			</div>
				</div>
			</div>

    	<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VOYAGE REFERENCE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS2 VOYAGE REFERENCE" ng-model="bcmsg.bc.PTS2_voyagereference"/>
   		   			</div>
				</div>
			</div>

   		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VOYAGE REFERENCE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS3 VOYAGE REFERENCE" ng-model="bcmsg.bc.PTS3_voyagereference"/>
   		   			</div>
				</div>
			</div>

   		<div class="col-xs-12 col-md-3">
      			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VOYAGE REFERENCE</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS4 VOYAGE REFERENCE" ng-model="bcmsg.bc.PTS4_voyagereference"/>
   		   			</div>
				</div>
			</div>
    	</div>

		<div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>VESSEL NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS1 VESSEL NAME" ng-model="bcmsg.bc.PTS1_vesselname"/>
   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS2 VESSEL NAME" ng-model="bcmsg.bc.PTS2_vesselname"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS3 VESSEL NAME" ng-model="bcmsg.bc.PTS3_vesselname"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
    				<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL NAME</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS4 VESSEL NAME" ng-model="bcmsg.bc.PTS4_vesselname"/>
   		   			</div>
				</div>
			</div>
    	</div>

	<div class="row">
    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
    					<div class="form-group1">
			  				<label>VESSEL ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS1 VESSEL ID" ng-model="bcmsg.bc.PTS1_vesselid"/>
   		   			</div>
				</div>
			</div>

    		<div class="col-xs-12 col-md-3">
    			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS2 VESSEL ID" ng-model="bcmsg.bc.PTS2_vesselid"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
   			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS3 VESSEL ID" ng-model="bcmsg.bc.PTS3_vesselid"/>
   		   			</div>
				</div>
			</div>

   		    <div class="col-xs-12 col-md-3">
   			<div class="row">
    				<div class="col-xs-12 col-md-12">
						<div class="form-group1">
							<label>VESSEL ID</label>
						</div>
    				</div>
				</div>
   				<div class="row">
   					<div class="col-xs-12 col-md-12">
   						<input type="text" placeholder="PTS4 VESSEL ID" ng-model="bcmsg.bc.PTS4_vesselid"/>
   		   			</div>
				</div>
    	</div>

	</div>
	</div>

</div></div>
        <div id="TransportUnits" class="container-fluid">
     <div class="form-group2">
      <label>TRANSPORT UNIT(S)</label>
   	  <hr />
    </div>

		<div class="row">
			<div class="col-xs-12 col-md-4">

          <div class="row">
            <div class="col-md-12 col-xs-12">
                <div custom-select="eqp.Typecode for eqp in appData.settings.EQP | filter: {Typecode: $searchTerm}" ng-model="bcmsg.bc.EQP" class="sform" custom-select-options="testEQPtype" autofocus ></div>
            </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <div class="form-group1" ng-hide="EQPtypeR">
                  <label>Transport Temperature</label>
                </div>
                </div>

               <div class="col-xs-4 col-md-4">
        <div class="form-group1" ng-hide="EQPtypeR">
                <label>Min Temperature</label>
              </div>
              </div>
			  
			  <div class="col-xs-4 col-md-4">
        <div class="form-group1" ng-hide="EQPtypeR">
                <label>Max Temperature</label>
              </div>
              </div>
			  
              </div>

              <div class="row" ng-hide="EQPtypeR">
                <div class="col-md-4 col-xs-4">
                  <div class="BF">
				  
				    <div class="form-group" ng-class="{'has-error': myform.TransportTemperature.$invalid}" >    
            <input type="number" class="form-control" name="TransportTemperature" ng-model="bcmsg.bc.TransportTemp" placeholder="Transport Temperature" ng-pattern="/^([-]\d{1,2}\.\d{1}|[0]|\d{3}|\d{1,2}\.\d{1})$/" step="0.1" required />
            <span class="help-block" ng-show="!myform.TransportTemperature.$valid">
                Invalid!
            </span>

        </div>
		</div>
		</div>
                <div class="col-md-4 col-xs-4">
                  <div class="BF">
  				    <div class="form-group" ng-class="{'has-error': myform.MaxTemperature.$invalid}">
              <input type="number" class="form-control" name="MaxTemperature" ng-model="bcmsg.bc.maxTemp" placeholder="Max Temperature" ng-pattern="/^([-]\d{1,2}\.\d{1}|[0]|\d{3}|\d{1,2}\.\d{1})$/" step="0.1" required />
            <span class="help-block" ng-show="!myform.MaxTemperature.$valid">
                Invalid!
            </span>
        </div>
		</div>
		</div>
		
		 <div class="col-md-4 col-xs-4">
                  <div class="BF">
  				    <div class="form-group" ng-class="{'has-error': myform.MaxTemperature.$invalid}">
              <input type="number" class="form-control" name="MinTemperature" ng-model="bcmsg.bc.minTemp" placeholder="Max Temperature" ng-pattern="/^([-]\d{1,2}\.\d{1}|[0]|\d{3}|\d{1,2}\.\d{1})$/" step="0.1" required />
            <span class="help-block" ng-show="!myform.MinTemperature.$valid">
                Invalid!
            </span>
        </div>
		</div>
		</div>
                 </div></div>

			<div class="col-xs-12 col-md-8" >
          <div class="row">
            <div class="col-xs-5 col-md-4">
              <div class="form-group1">
                <label>Enter or Paste Equipment Serial Number(s)</label>
              </div>
            </div>
            <div class="col-xs-2 col-md-4">

            </div>
            <div class="col-xs-5 col-md-4">
              <div class="form-group1">
                <label>Equipment(s) in booking</label>
              </div>
            </div>
          </div>

         <div class="row">
           <div class="col-xs-5 col-md-4">

        <!--div ng-hide="anyVariable" ng-paste="anyVariable = !anyVariable" class="textarea" id="tt" contenteditable >  </div>
          <div ng-show="anyVariable" contenteditable class="textarea" ng-repeat="aa in contents.split('\n')"> {{$index + 1}}. {{aa}} </div>
          <div class="form-control" type="search" ng-model="bcmsg.bc.seach" ng-change="searchChanged()" contenteditable="true"></div-->

           <!--div contenteditable ng-model="content">
    Youhou, ohofsdjkf skdjfnskdjfsdkjfsnkjdf
  </div-->

    <textarea  class="textarea" ng-model="containersnbr" ng-hide="hideit" focus-me="{{focus}}" ng-trim="false" style="border:solid 1px gray;"></textarea>

    <!--div id="s" class="textarea" ng-show="hideit" ng-dblclick="changevisibility()">  <ul ng-repeat="a in EQPserialnbrs track by $index" ng-class="{'selected':a.selected}">

      <li ng-click="moveToBooking(a)" name="contserialnbrlist">{{a.text}}</li> <span ng-show="myform.contserialnbrlist.$error.pattern">Not a valid number!</span></ul></div-->


				  <div class="lists" ng-show="hideit">
      <ul class="list" title="EQPs Serial Number" id="s">
        <li class="item" ng-repeat="item in EQPserialnbrs" ng-click="moveToBooking(item)"><!--span class="item-contents" ng-animate-ref="{{ item.text }}">{{ item.text }}</span-->{{item.text}}</li>
      </ul></div>
	  
	  </div>
           <div class="col-xs-2 col-md-4">
             <div class="row">
               <div class="col-xs-12 col-md-12">
      <button type="button" class="btn1 btn-success btn-sm" value="Add" ng-click="moveItem('s')" >Add All Booking >></button>  
 
<div> </div>
          </div>
        </div>
          <div class="row">
          <div class="col-xs-12 col-md-12">
          <button type="button" class="btn1 btn-danger btn-sm" value="Remove " ng-click="moveItem('d')"> << Withdraw All from Booking</button>  
              </div>
            </div>
            </div>

            <div class="col-xs-5 col-md-4">
<div class="lists">
<ul class="list" title="EQPs in Booking" id="d">
        <li class="item" ng-repeat="item in bcmsg.bc.EQPlist track by $index" ng-click="moveFromBooking(item)"><!--span class="item-contents" ng-animate-ref="{{ item.text }}">{{ item.text }}</span-->{{item.text}}</li>
      </ul>
    </div> 
        
            </div>
            </div>
             
<div class="row">
            <div class="col-xs-5 col-md-5">
              <input type="button" value="Confirm List" ng-click="testseries()" class="btn btn-info btn-sm"  />

            </div>
            <div class="col-xs-2 col-md-2">

            </div>
            <div class="col-xs-5 col-md-5">

            </div>
          </div>

           </div>
         </div>

			</div>


  <hr />



    <div class="row">
    	<div class="col-xs-12 col-md-12">
        <button type="submit" class="btn btn pull-right TRANSadd" id="btnexport" ng-click="ExportEDI()" >
            <span class="glyphicon glyphicon-download-alt "></span> Export
          </button>

          <button type="submit" class="btn btn pull-right TRANSadd" id="bntsave" ng-click="SaveBooking()">
            <span class="glyphicon glyphicon-download-alt "></span> Save
          </button>

        <button type="button" class="btn btn-default btn pull-right" ng-click="printvalidity()">
            <span class="glyphicon glyphicon-ban-circle "></span> Cancel
          </button>
    	</div>
    </div>

</div>
</div>
	</form>


</div></div>

</body>
</html>
