@charset "utf-8";

body {
    position: relative;
	overflow-x: hidden;
}

#Msg-info {padding-top:80px; }
#Transhipments {padding-top:30px;}
#TransportUnits {padding-top:30px}


.center {
    text-align: center;
    border: 3px solid green;
	float:left;
}

 .navbar-nav {
    display: inline-block;
    float: none;

}
.form-group2 {
	font-size: 15px;
	color: #0A0B0B;
	font-weight: 300;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}


 .navbar-collapse {
    text-align: center;
}


 .form-group {
	font-size: 15px;
	color: #0A0B0B;
	font-weight: 300;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	margin-top: 17px;
}

 .form-group1 label {
	font-size: 15px;
	color: #0A0B0B;
	font-weight: 300;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	margin-top: 17px;
}

 hr {
	color: #372FED;
	border-color: #3C9BF3;
	background-color: #3CA7EC;
	height: 5px;
	width: 100%;
	margin-bottom: 5px ;
	margin-top: 0px ;
}
 .BF input  {
	background-color: #C7D6F4;
	color: #000000;
	min-height: 38px;
	min-width: 95%;

}

.sform{
    background-color: #C7D6F4; 
	color: #000000;
	min-height: 12px ;
	min-width: 95% ;
}

.custom-select.open > a.dropdown-toggle {
    background-color: #C7D6F4; 
	color: #000000;
}
.custom-select > a.dropdown-toggle {
   background-color: #C7D6F4; 
	color: #000000;
}
}

#section1 form .img-responsive.img-rounded {
	min-width: 0px;
	min-height: 0px;
}

td {
	max-width: 25%;
}

.input-group{

	max-width: 100% ;
}

.input-group-addon {
	background-color: #C7D6F4 ;
	color: #000000 ;
}

.changecolor{
	background-color: white;
	border: none;
    border-radius: none;
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-group-date{
	font-size: 15px !important;
	color: #0A0B0B !important;
	font-weight: 300 !important;
	background-color: #C7D6F4 !important;
}

#SENDER .select2-default {
	color: #f00 !important;
	background-color: #C7D6F4 !important;

}

.TRANSadd{
	max-height: 19% ;
  color: #F4F4F5 ;
	background-color: #0756F1 ;
	font-weight: bold ;
	float: right;
	margin-bottom: 6px;
  margin-right: 6px;
}

#btnsave{
  color: #F4F4F5 ;
	background-color: #0756F1 ;
  margin-left: 5px;
}

 #BNL {
	color: #0F0DCD;
	font-weight: bold;
	font-size: 20px;
	display: inline;
	margin-left: 31px;
}

#mt {
	margin-top: 17px;
}
.row .col-xs-12.col-md-12 #BN {
	display: inline;
	color: #494949;
	font-size: 33px;
	font-weight: bold;
	padding-left: 15px;
}
.row .col-xs-12.col-md-12 #SENDER {
	max-width: 80%;
	background-color: #75C0F0;
}

.row .col-xs-12.col-md-12 label {
	color: #000000;
	font-weight: bold;
	white-space:nowrap;

}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
   text-align:center;
	margin-top: 30px;
}

.btn-default{
	background-color: #C7D6F4 ;
	color: #000000 ;
	min-height: 12px ;
}

.bootstrap-select  select {
	left: 0px;
}

.bootstrap-select  .dropdown-toggle.bs-placeholder {
	color: black;
}

.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
   width: 200px;
  border: 2px solid #eeeeee;
  padding: 0 0 10px 0;
    height: 200px;
  overflow: auto;
  resize: both;

}

.aa{

  border:0.5px solid gray;

}
.selected {
    background-color: yellow;
}

.btn1{
	width: 90%;
	 word-wrap: break-word;
	 padding: 0px;

}

 .hidesearch bs-searchbox { display: none; }
 .close {display: none;}

.bookinglist {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 2px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 200px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 80%;

   margin-left:auto;
   margin-right:auto;
   display:block;
}
.bookinglistview{
	padding-top: 60px;
}

 .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
 }

 * {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial;
  font-size: 12px;
}

.lists {
  display: flex;
  min-height: 150px;
}

.list:before {
  content: attr(title);
  text-align: center;
  background: #eeeeee;
  display: block;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  width: 200px;
  border: 2px solid #eeeeee;
  padding: 0 0 10px 0;
    height: 200px;
  overflow: auto;
  resize: both;
}

.list + .list {
  border-left: none;
}

.item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 30px;
  overflow: hidden;
}

.item:hover {
  color: blue;
}

.item-contents {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.item-contents.ng-anchor-in {
  transition: 0.2s linear all;
  opacity:1;
}

.item.ng-enter {
  transition:0.1s linear all;
  height: 0;
  background:red;
}

.item.ng-enter.ng-enter-active {
  height: 30px;
}

.item.ng-leave {
  transition: 0.1s linear all;
  height: 30px;
}

.item.ng-leave.ng-leave-active {
  height: 0;
}